# Test stack
pytest==8.3.3
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-excel==1.7.0
pytest-base-url==2.1.0
pytest-playwright==0.5.0

# Playwright core (khóa theo version browsers đã build)
playwright==1.46.0

# Tiện ích
pyyaml==6.0.2
python-dotenv==1.0.1
openpyxl>=3.1.2
pandas>=2.0

# (tùy chọn nếu chạy song song)
# pytest-xdist==3.6.1
